.button.button {
  left: 111px;
  top: 731px;
}
.potenciaTuGestion {
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.alguito.alguito {
  left: 105px;
  top: 3865px;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.rol {
  color: #333;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15em;
  position: absolute;
  left: 292.8258%;
  right: -196.2611%;
  top: -1.5052%;
  bottom: 101.2594%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle633 {
  position: absolute;
  left: 0;
  top: 5570px;
  width: 1366px;
  height: 174px;
  background-color: #abe3c4;
}
.nuestrosValores {
  color: #333;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 105px;
  top: 1496px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle663 {
  position: absolute;
  left: -1171px;
  top: 3914px;
  width: 1156px;
  height: 434px;
  border-radius: 30px;
  background-color: #eaecf0;
}
.QueresUnEquipoMasParticipativo {
  position: absolute;
  left: -82.2108%;
  right: 137.1889%;
  top: 71.0481%;
  bottom: 27.211%;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.textBlock2 {
  margin-top: 0;
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.frame5 {
  position: absolute;
  left: 1184px;
  top: 5594px;
  width: 101px;
  height: 24px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle666 {
  position: absolute;
  left: -1189px;
  top: 3914px;
  width: 1156px;
  height: 434px;
  border-radius: 30px;
  background-color: #eaecf0;
}
.NecesitasUnAumentoDeProductivi {
  position: absolute;
  left: -83.5286%;
  right: 138.5066%;
  top: 71.0481%;
  bottom: 27.211%;
  height: min-content;
  flex-direction: column;
}
.textBlock3 {
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.textBlock4 {
  margin-top: 0;
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.rectangle6632 {
  position: absolute;
  left: 1399px;
  top: 3914px;
  width: 1156px;
  height: 434px;
  border-radius: 30px;
  background-color: #eaecf0;
}
.QueresUnEquipoMasParticipativo2 {
  position: absolute;
  left: 105.9297%;
  right: -50.9517%;
  top: 71.0481%;
  bottom: 27.211%;
  height: min-content;
  flex-direction: column;
}
.textBlock5 {
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.textBlock6 {
  margin-top: 0;
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.soluciones {
  color: #333;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 105px;
  top: 2116px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame6 {
  position: absolute;
  left: 114px;
  top: 5589px;
  width: min-content;
  height: min-content;
}
.dN {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2022DNTodosLosDerechosReservad {
  color: #333;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40.4832%;
  right: 40.4832%;
  top: 99.321%;
  bottom: 0.4178%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.nosotros {
  color: #333;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 153px;
  top: 2865px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
