#ignore react project and node modules
node_modules/
*.log
*.tmp
*.orig
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
.env.local
.env.development.local
.env.test.local
.env.production.local
build/
# End of https://www.gitignore.io/api/react,reactnative,python,node,macos,windows
# End of https://www.gitignore.io/api/react,reactnative,python,node,macos,windows

# virtualenv
# Created by https://www.toptal.com/developers/gitignore/api/virtualenv
# Edit at https://www.toptal.com/developers/gitignore?templates=virtualenv

### VirtualEnv ###
# Created by https://www.gitignore.io/api/virtualenv

# virtualenv
# No trailing slash is better if you work on multiple projects in the
# same venv
.venv
venv
ENV
