.root {
  position: absolute;
  left: 942.1702px;
  top: 1617px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.group3932 {
  position: relative;
  width: 406.1701px;
  height: 372.5056px;
}
.rectangle666 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 406.1701px;
  height: 372.5056px;
  outline: solid 2.1955px #b48ff5;
  outline-offset: -2px;
  border-radius: 21.9551px;
  box-shadow: 0px 5.8547px 10.9776px 3.6592px #3333331a;
}
.vector {
  position: absolute;
  left: 30.2391%;
  right: 30.842%;
  top: 7.8586%;
  bottom: 52.8487%;
  width: 158.077px;
  height: 146.3676px;
  overflow: visible;
  filter: drop-shadow(0px 5.854704856872559px 10.977572441101074px #3333331a);
}
.icon {
  width: 100%;
  height: 100%;
}
.nounAchievement40441461 {
  position: absolute;
  left: 35.4092%;
  right: 36.0324%;
  top: 16.8959%;
  bottom: 61.886%;
  width: 115.9956px;
  height: 79.0385px;
  filter: drop-shadow(0px 5.854704856872559px 10.977572441101074px #3333331a);
}
.icon2 {
  width: 100%;
  height: 100%;
}
.innovacion {
  color: #333;
  font-size: 30.7372px;
  line-height: 36.5919px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
  position: absolute;
  left: 29.5005%;
  right: 30.1223%;
  top: 52.6522%;
  bottom: 37.415%;
  width: min-content;
  height: min-content;
  text-shadow: 0px 5.854704856872559px 10.977572441101074px #3333331a;
  white-space: nowrap;
  flex-direction: column;
}
.creatividadEnAccionYMovimiento {
  position: absolute;
  left: 16.6979%;
  right: 8.7028%;
  top: 67.4535%;
  bottom: 10.5334%;
  width: 303px;
  height: min-content;
  text-shadow: 0px 5.854704856872559px 10.977572441101074px #3333331a;
  flex-direction: column;
}
.textBlock {
  color: #333;
  font-size: 18px;
  line-height: 20.4915px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock2 {
  margin-top: 0;
  color: #333;
  font-size: 18px;
  line-height: 20.4915px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
