.root {
  position: absolute;
  left: 122px;
  top: 279px;
  width: 652px;
  height: 418px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 50px 0 60px;
}
.transformaLaFormaEnLaQueTuEqui {
  color: #333;
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  width: 652px;
  height: min-content;
  flex-direction: column;
}
.trabajemosEnElCambioQueEstasBu {
  width: 406px;
  height: 72px;
  flex-direction: column;
}
.textBlock {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
}
.textBlock2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
}
