.button.button {
  left: 774px;
  top: 787px;
  width: 305px;
  place-content: space-around;
}
.potenciaTuGestion {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: absolute;
  left: 121px;
  top: 4411px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.contactoForm {
  position: relative;
  width: 1140px;
  height: 1125px;
  align-items: flex-start;
  overflow: hidden;
}
.Hablemos {
  color: #333;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 101.2861px;
  top: 65.1126px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle16 {
  position: absolute;
  left: 8.8596%;
  right: 50.8772%;
  top: 84.5333%;
  bottom: 8.9064%;
  outline: solid 1.8087px #b48ff5;
  outline-offset: -2px;
  border-radius: 4.5217px;
}
.conocenosMas {
  color: #333;
  font-size: 22px;
  line-height: 28.9389px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  position: absolute;
  left: 109px;
  top: 894px;
  width: 501.9095px;
  height: 28.0346px;
  flex-direction: column;
}
.nosEncantanLasPreguntasYLasPro {
  position: absolute;
  left: 94px;
  top: 145px;
  width: 498px;
  height: 50px;
  flex-direction: column;
}
.textBlock {
  color: #333;
  font-size: 22px;
  line-height: 25.3216px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock2 {
  margin-top: 0;
  color: #333;
  font-size: 22px;
  line-height: 25.3216px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.linkedIn {
  position: absolute;
  left: 151px;
  top: 966px;
  width: min-content;
  height: min-content;
  align-items: flex-end;
  gap: 20px;
}
.path {
  width: 26.5273px;
  height: 28.9389px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.linkedIn2 {
  color: #333;
  font-size: 18.0868px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.instagram {
  position: absolute;
  left: 351px;
  top: 966px;
  width: min-content;
  height: min-content;
  align-items: flex-end;
  gap: 20px;
}
.path2 {
  width: 28.9389px;
  height: 28.9389px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.instagram2 {
  color: #333;
  font-size: 18.0868px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.form {
  position: absolute;
  left: 683px;
  top: 145px;
  width: 396px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 38px;
  border-radius: 100px;
}
.nombreCompleto {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 20px;
}
.nombreCompleto2 {
  color: #333;
  font-size: 18px;
  line-height: 22.9982px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2 {
  width: 396px;
  height: 34.4973px;
  border-radius: 20px;
  background-color: #abe3c42e;
}
.correoElectronico {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.correoElectronico2 {
  color: #333;
  font-size: 18px;
  line-height: 22.9982px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle22 {
  width: 396px;
  height: 34.4973px;
  border-radius: 20px;
  background-color: #abe3c42e;
}
.quieroSaberMasSobre {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.numeroDeTelefono {
  color: #333;
  font-size: 18px;
  line-height: 22.9982px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle23 {
  width: 396px;
  height: 34.4973px;
  border-radius: 20px;
  background-color: #abe3c42e;
}
.mensaje {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.mensaje2 {
  color: #333;
  font-size: 18px;
  line-height: 22.9982px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24 {
  width: 396px;
  height: 267.3539px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.group3928 {
  position: absolute;
  left: 149.665px;
  top: 355px;
  width: 401.8933px;
  height: 288.0001px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
