.root {
  position: absolute;
  left: 107px;
  top: 2212px;
  width: 555px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 28px;
  padding: 48px 28px;
  border-radius: 30px;
  background-image: linear-gradient(180deg, #eaecf0ff 0%, #eaecf000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.QueHacemos {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.facilitamosEspaciosDeAprendiza {
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  width: 456px;
  height: 49px;
  flex-direction: column;
}
.ComoLoHacemos {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0025em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.conversamosConVosParaEntenderL {
  width: 456px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock2 {
  margin-top: 0;
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock3 {
  margin-top: 0;
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock4 {
  margin-top: 0;
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock5 {
  margin-top: 0;
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
.textBlock6 {
  margin-top: 0;
  color: #333333b2;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
}
