.root {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  padding: 12px 84px;
  border-radius: 30px;
  background-color: #b48ff5;
}
.potenciaTuGestion {
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
