.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 1156px;
  height: 489px;
  align-items: flex-start;
}
.group3920 {
  position: absolute;
  left: 484px;
  top: 464px;
  width: 188px;
  height: 20px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle663 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 11.2474%;
  border-radius: 30px;
  background-color: #eaecf0;
}
.businessSolutionCuate {
  position: absolute;
  left: 709px;
  top: 80px;
  width: 394.7347px;
  height: 273.9998px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.QueresAlcanzarNuevasMetas {
  position: absolute;
  left: 4.4983%;
  right: 42.301%;
  top: 34.1513%;
  bottom: 45.3988%;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.textBlock2 {
  margin-top: 0;
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
.textBlock3 {
  margin-top: 0;
  color: #333;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.005em;
}
